@model List<TestimonialViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Referans Resim</th>
        <th>Referans Adı</th>
        <th>Referans Unvan</th>
        <th>Referans Açıklama</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detay</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.TestimonialId</th>
            <td>@item.Image</td>
            <td>@item.Name</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td><a asp-controller="Testimonial" asp-action="DeleteTestimonial" asp-route-id="@item.TestimonialId" class="btn btn-rounded btn-danger">Sil</a></td>
            <td><a asp-controller="Testimonial" asp-action="UpdateTestimonial" asp-route-id="@item.TestimonialId" class="btn btn-rounded btn-success">Güncelle</a></td>
            <td><a href="#" class="btn btn-rounded btn-warning">Detay</a></td>
        </tr>
    }

</table>
<a asp-controller="Testimonial" asp-action="AddTestimonial" class="btn btn-rounded btn-info">Yeni Referans Girişi</a>

